%navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 7vh;
  background-color: var(--bg-color);
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 350px;
  }
  a {
    text-transform: uppercase;
    transition-duration: 0.4s;
    color: var(--text-color);
    text-decoration: none;
    flex-basis: 20%;
    line-height: 7vh;
    text-align: center;
    border-radius: 10px;
    &:hover {
      background-color: var(--hover-color);
    }
  }
}

%btn {
  width: 40%;
  font-size: 12px;
  background-color: $activeColor;
  transition-duration: 0.4s;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: darken($activeColor, 10%);
    box-shadow: 0 0 50px $activeColor;
    border: 2px solid transparent;
  }
}

%input {
  h2 {
    text-align: center;
    margin: 4vh;
    font-size: 34px;
    color: $activeColor;
    text-shadow: 2px 2px 2px $black;
  }
  label {
    color: #cecece;
    display: block;
    text-align: left;
    margin-left: 7vw;
    font-size: 24px;
  }
  input {
    display: block;
    width: 60%;
    height: 4vh;
    border: 2px solid $activeColor;
    border-radius: 2px;
    margin: 20px auto;
    padding: 5px;

    &[type='password'] {
      margin-bottom: 3vh;
    }
    &[type='button'] {
      @extend %btn;
    }
    &::placeholder {
      font-weight: bold;
      color: $activeColor;
      padding-left: 5px;
    }
    &:focus {
      border: none;
      font-size: 18px;
      color: $activeColor;
    }
  }
}

%links {
  position: absolute;
  width: 20%;
  background-color: darken($light, 60%);
  border: 2px solid $activeColor;
  padding: 2vh;
  border-radius: 10px;
  bottom: 4vh;
  left: 2vh;
  a {
    font-family: $ubuntuFont;
    margin: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $activeColor;
    font-size: 32px;
    transition-duration: 0.4s;
    &:hover {
      text-shadow: 2px 2px 2px $black;
      color: darken($activeColor, 20%);
      letter-spacing: 1px;
    }
  }
}

%modal {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;

    &__info {
      width: 100%;
      font-size: 32px;
      text-align: center;
      padding: 20px;
    }

    .button {
      align-self: flex-end;
      margin-bottom: 10%;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      background-color: white;
      // overflow: hidden;
      .modal__exit-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 34px;
        cursor: pointer;
      }

      form {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        label {
          margin-top: 5%;
          font-size: 24px;
        }

        input {
          width: 60%;
          height: 45px;
          font-size: 26px;
          text-align: center;
          width: 100%;
          margin: 0 20%;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}

%switchButton {
  .switch-button {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    z-index: 0;
    padding-right: 120px;

    &__first-option {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      color: var(--active-color);
      pointer-events: none;
    }

    &__checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;

      &:checked + .switch-button__label::before {
        transform: translateX(120px);
        transition: 0.2s linear;
      }

      & + .switch-button__label {
        position: relative;
        padding: 10px 0;
        display: block;
        user-select: none;
        pointer-events: none;

        &::before {
          content: '';
          background-color: var(--bg-color);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 30px;
          transform: translateX(0);
          transition: 0.2s linear;
        }

        .switch-button__second-option {
          position: relative;
          color: var(--active-color);
        }
      }
    }
  }
}

%button {
  .button {
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid var(--active-color);
    background-color: var(--bg-color);
    font-size: 20px;
    height: 50px;
    width: 120px;
    margin: 10px;
    color: var(--active-color);
    transition: 0.15s ease;

    &--large {
      width: 350px;
      color: var(--active-color);
    }

    &:hover {
      color: black;
      background-color: var(--hover-color);
    }

    &--hidden {
      display: none;
    }
    &--red {
      color: red;
    }

    &--red_bgc {
      background-color: red;
    }

    &--green_bgc {
      background-color: green;
    }

    &--math {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 0;
      font-size: 20px;
      text-align: center;
    }
  }
}

%inputField {
  .input {
    height: 30px;
    width: 60%;
    font-size: 20px;
  }
}

%navlink {
  .navlink--casual {
    text-decoration: none;
    color: #222;
  }
}

%infoModal {
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2vh;
  min-width: 10vw;
  border-radius: 10px;
  border: 2px solid var(--active-color);
  padding: 20px;
  z-index: 90;
  i {
    color: var(--active-color);
    font-size: 34px;
    padding: 10px;
  }
}
%loadingModal {
  .save-data__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    .save-data__overlay--text {
      color: white;
      font-size: 42px;
      text-align: center;
      padding: 24px;
    }
    .save-data__overlay--progress {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border-top: 3px solid white;
      border-left: 3px solid white;
      margin: 24px;
      animation: loading infinite 1s;
    }
    @keyframes loading {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
