@mixin modal($yOffset, $xOffset) {
    position: absolute;
    top: $yOffset;
    left: $xOffset;
    width: 30%;
    height: 30vh;
    background-color: lighten($black, 50%);
    opacity: .6;
    border-radius: 20px;
}