.register-wrapper {
    background-image: url('../../img/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darken(#cecece,60%);
    background-blend-mode: overlay;
    width: 100vw;
    height: 100vh;
    position: relative;
    h2.register-header {
        text-align: center;
        margin: 0 4vh;
        padding: 4vh;
        font-size: 54px;
        color: $activeColor;
        text-shadow: 2px 2px 2px $black;
    }
    form.form {
        @extend %input;
        @include form(30%,75vh);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3 {
            color: white;
        }
        
    }
    .btn-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 70%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-modal {
        @extend %infoModal;
    }
    .active-modal {
        display: flex;
    }


    .basic-data, .personal-data, .adress-data {
        display: none;
    }
    .active-form {
        display: block;
    }

    .links { @extend %links; }
}