main.home-page {
    background-image: url('../../img/earth.jpg');
    background-color: darken($light, 70%);
    background-blend-mode: overlay;
    height: 100vh;
    position: relative;
    .home-page_favourites {
        @include modal(15vh, 5vh);
        h2
        a {
        
            // width: 100% / 3;
            color: $light;
            margin: 10px;
        }
    }
    .home-page_clock {
        position: absolute;
        text-align: center;
        top: 15vh;
        right: 5vw;
        width: 35%;
        height: 30vh;
        color: $activeColor;
        font-weight: bold;
        .clock {
            font-size: 72px;    
        }
        .date {
            font-size: 64px;
            letter-spacing: 3px;
            font-family: $cursiveFont;
        }
    }
    .home-page_actions {
        @include modal(50vh, 5vh);
    }
}