@import "_nav.scss";
@import "_header.scss";
@import "_about.scss";
@import "_how_it_works.scss";
@import "_footer.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    /* width: 1280px; */
    margin: 0 auto;
    overflow: hidden;
}
    