main.home-page {
  background-image: url('../../img/wallpapers/earth.jpg');
  background-color: darken($light, 70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 93vh;
  overflow-y: hidden;
  position: relative;
  .restricted-info {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(231, 47, 47);
    color: $light;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
  }
  .home-page__favourites {
    @include modal(11vh, 5vh);
    h2 {
      text-align: center;
      padding: 10px;
      color: #cecece;
    }
    &--icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a.empty-link {
        text-align: center;
        display: block;
        width: 12vh;
        height: 12vh;
        line-height: 12vh;
        border-radius: 4px;
        background-color: #303030;
        font-size: 64px;
        text-decoration: none;
        color: #cecece;
        margin: 10px;
        transition-duration: 0.4s;
        z-index: 10;
        &:hover {
          color: $activeColor;
          box-shadow: inset 0px 0px 24px 0px $activeColor;
        }
      }
      a.action-link {
        text-align: center;
        display: block;
        width: 12vh;
        height: 12vh;
        line-height: 12vh;
        font-size: 64px;
        text-decoration: none;
        color: #cecece;
        margin: 10px;
        transition-duration: 0.4s;
        z-index: 10;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
  .home-page__clock {
    font-family: 'Saira Condensed';
    position: absolute;
    text-align: center;
    top: 7vh;
    right: 1vw;
    width: auto;
    height: auto;
    padding: 25px;
    color: white;
    font-weight: 100;
    background-color: rgba($color: #ddd, $alpha: 0.2);
    border-radius: 15px;
    user-select: none;

    .home-page__clock--time {
      font-size: 72px;
    }
    .home-page__clock--date {
      font-size: 64px;
      letter-spacing: 3px;
      font-family: 'Saira Condensed';
      // font-family: $cursiveFont;
    }
  }
  .home-page__actions {
    @include modal(50vh, 5vh);
    h2 {
      text-align: center;
      padding: 10px;
      color: #cecece;
    }
    .home-page__actions--action-content {
      color: #cecece;
      margin-top: 64px;
      font-size: 34px;
      text-align: center;
    }
    &--icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a.empty-link {
        text-align: center;
        display: block;
        width: 12vh;
        height: 12vh;
        border-radius: 4px;
        background-color: #303030;
        line-height: 12vh;
        font-size: 64px;
        text-decoration: none;
        color: #cecece;
        margin: 10px;
        transition-duration: 0.4s;
        z-index: 10;
        &:hover {
          color: $activeColor;
          box-shadow: inset 0px 0px 24px 0px $activeColor;
        }
      }
      a.action-link {
        text-align: center;
        display: block;
        width: 12vh;
        height: 12vh;
        border-radius: 4px;
        line-height: 12vh;
        font-size: 64px;
        text-decoration: none;
        color: #cecece;
        margin: 10px;
        transition-duration: 0.4s;
        z-index: 10;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
  &.wallpaper1 {
    background-image: url('../../img/wallpapers/earth.jpg') !important;
  }
  &.wallpaper2 {
    background-image: url('../../img/wallpapers/synth.jpg') !important;
  }
  &.wallpaper3 {
    background-image: url('../../img/wallpapers/lake.jpg') !important;
  }
}
