.search-page {
  display: flex;
  overflow-x: hidden;
  background-color: #eee;
  width: 100vw;
  height: 100vh;

  .search-page_search-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    &.minimized {
      width: 60vw;
    }
    .search-page_searcher {
      background-color: red;
      text-align: center;
      // margin: 10px 0 10px 0;

      input {
        height: 5vh;
        width: 80%;
        font-size: 20px;
        padding-left: 20px;
      }
    }

    .search-page_results {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // width: 100px;
      // height: 200px;
      // justify-content: space-evenly;
      flex-grow: 1;

      background-color: #444;

      .search-page_result {
        // text-decoration: none;
        margin: 20px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: white;
        border-radius: 15px;
        img {
          width: 48px;
          height: 48px;
          margin: 20px;
        }
        h3 {
          color: black;
          font-size: 28px;
        }
      }
    }
  }

  .search-page_info {
    height: 100vh;
    width: 40vw;
    background-color: green;
    // position: absolute;
    transform: translateX(40vw);
    display: none;

    &.active {
      transform: translateX(0);
      display: block;
    }
  }
}
