.wallet-page {
  display: flex;
  width: 100%;
  height: 93vh;
  flex-direction: column;

  @extend %navlink;

  div.wallet-page__money {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background-color: var(--darken-effect);
    padding-left: 20px;
    transition: 0.2s linear;

    &.show {
      height: 200px;
    }

    i {
      position: absolute;
      top: 9.2%;
      right: 2%;
      font-size: 30px;
      cursor: pointer;
      color: var(--hover-color);
    }

    p {
      text-transform: uppercase;
      font-size: 20px;
      transition: 0.2s linear;

      &.wallet-page__money--details.hidden {
        display: none;
      }
      span {
        text-transform: lowercase;
        color: darkolivegreen;
        font-weight: bold;
      }
    }
  }

  div.wallet-page__actions__label {
    display: flex;
    width: 100%;
    height: 85px;
    font-size: 22px;
    align-items: center;
    background-color: var(--text-color);
    border-bottom: 2px solid var(--bg-color);

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px;
      width: 20%;
      height: 45px;
      border-left: 1px solid var(--bg-color);
      font-weight: bold;
      &:first-child {
        width: 8%;
        border-left: none;
      }
      &:last-child {
        
        border-right: 1px solid var(--bg-color);
        
      }
    }
  }

  div.wallet-page__actions {
    width: 100%;
    flex-grow: 1;
    background-color: var(--text-color);
    font-size: 22px;

    //scrollbar
    overflow-y: auto;

    p.wallet-page__no-actions-info {
      text-align: center;
      margin-top: 10%;
      cursor: pointer;
      color: black;
      text-decoration: underline;
      font-size: 30px;
      // width: 100%;
      // color: red;
      &:hover {
        color: #333;
      }
    }

    div.wallet-page__actions__action {
      display: flex;
      width: 100%;
      height: 100px;
      align-items: center;
      transition-duration: .4s;
      &:nth-child(even) {
        background-color: var(--text-color);
      }
      &:nth-child(odd){
        background-color: var(--darken-effect);
      }
      p {
        width: 20%;
        text-align: center;
      }
      span.wallet-page__actions__action--action-image {
        width: 8%;
        text-align: center;
        img {
          width: 60px;
          border-radius: 10px;
        }
      }

      span.wallet-page__actions__action--options {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;

        i {
          font-size: 24px;
          cursor: pointer;
          color: var(--active-color);
        }

        i.fa-heart,
        i.fa-heart-o {
          font-size: 32px;
          // color: blue;
        }
      }

      p.wallet-page__actions__action--price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        height: 100%;
        span {
          display: none;
          font-size: 14px;
        }
        &:hover > span {
          display: block;
        }
      }

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}
